/* ===================== 
   GLOBAL RESET 
===================== */ 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Segoe UI", sans-serif; 
} 
 
body { 
    background-color: #e9ffcc; 
} 
 
/* ===================== 
   HEADER / NAVBAR 
===================== */ 
.main-header { 
    background: linear-gradient(to right, #7fbf3f, #9ad15a); 
    padding: 8px 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
} 
 
/* LEFT SIDE (LOGO + TITLE) */ 
.header-left { 
    display: flex; 
    align-items: center; 
    gap: 12px; 
} 
 
.logo { 
    width: 45px; 
    height: 45px; 
} 
 
.brand-text h2 { 
    font-size: 20px; 
    color: #1f4d1f; 
    font-weight: 800; 
} 
 
.brand-text p { 
    font-size: 12px; 
    color: #2f5f2f; 
} 
 
/* CENTER MENU */ 
.header-menu { 
    display: flex; 
    align-items: center; 
    gap: 20px; 
} 
 
.header-menu a { 
    text-decoration: none; 
    color: #1f4d1f; 
    font-weight: 600; 
    font-size: 14px; 
} 
 
/* RIGHT SIDE (SEARCH + ICONS) */ 
.header-right { 
    display: flex; 
    align-items: center; 
    gap: 14px; 
} 
 
/* SEARCH BAR */ 
.search-box { 
    display: flex; 
    align-items: center; 
    background: #dff7b0; 
    padding: 4px 10px; 
    border-radius: 20px; 
} 
 
.search-box input { 
    border: none; 
    outline: none; 
    background: transparent; 
    width: 120px; 
    font-size: 13px; 
} 
 
.search-box i { 
    font-size: 14px; 
    color: #1f4d1f; 
} 
 
/* ICONS */ 
.header-icon { 
    font-size: 18px; 
    color: #1f4d1f; 
    cursor: pointer; 
} 
 
/* ===================== 
   OFFER BAR 
===================== */ 
.offer-bar { 
    margin: 15px auto; 
    width: 80%; 
    background: #9fd46a; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px; 
    font-weight: bold; 
    color: #1f4d1f; 
} 
 
/* ===================== 
   PRODUCT GRID 
===================== */ 
.product-section { 
    padding: 30px 50px; 
} 
 
.product-grid { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
} 
 
/* PRODUCT CARD */ 
.product-card { 
    background: #d8f7a6; 
    padding: 15px; 
    border-radius: 15px; 
    text-align: center; 
} 
 
.product-card img { 
    width: 35; 
    height: 35px; 
    object-fit: cover; 
    border-radius: 12px; 
} 
 
.product-card h4 { 
    margin-top: 10px; 
    font-size: 14px; 
    color: #1f4d1f; 
} 
 
.product-card p { 
    font-size: 13px; 
    color: #2f5f2f; 
} 
 
/* ===================== 
   RESPONSIVE 
===================== */ 
@media (max-width: 992px) { 
    .product-grid { 
        grid-template-columns: repeat(2, 1fr); 
    } 
 
    .header-menu { 
        display: none; 
    } 
} 
 
@media (max-width: 576px) { 
    .product-grid { 
        grid-template-columns: 1fr; 
    } 
 
    .search-box { 
        display: none;
    }
}